#FileManager{
    position: relative;
    width: 100%;
    /* height: 100%; */
    background-color: #272727;
    float: left;
    clear: both;
    padding-left: 15px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#FMN{
  color: #d0d0d0;
}

.item-caret, .item-base {
  display: inline-block;
}

.item-caret i {
  margin: 0!important;
}

#FileManager .tree-item .tree-item{
  margin-left: 15px;
}
#FileManager .tree .accordion .content{
  margin-left: 15px;
}
#FileManager .tree .accordion .content, #FileManager .tree .accordion .title{
  padding: 0;
  color: #d0d0d0;
}
#FileManager .tree .accordion .accordion, #FileManager .tree .accordion .dropdown{
  margin: 0;
}

#FileManager .folder{
  color: #6e6e6e;
}

#FileManager .file{
  color: #c06939;
}
