#FileManager{
    position: relative;
    width: 100%;
    /* height: 100%; */
    background-color: #272727;
    float: left;
    clear: both;
    padding-left: 15px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#FileManager .item{
  padding: 10px;
  color: #d0d0d0;
  cursor: default;
}
#FileManager .chevron{
  cursor: pointer;
}
#FileManager .icon.folder{
  color: #6e6e6e;
}
#FileManager .icon.file{
  color: #c06939;
}
#FileManager .item.file{
  margin-left: 15px;
}

