#App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  overflow: hidden;
}

#FileManagerWrapper {
  background-color: chocolate;
  width: 600px;
  height: 100%;
  border-right: 1px solid black;
  display: flex;
  flex-direction: row;
}

#RightHalf{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: darkgoldenrod;
}

#EditorWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: darkcyan;
}

#TerminalWrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}